<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>测试地图</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__PUBLIC__/mui/mui.min.css">
    <script src="__PUBLIC__/mui/mui.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <link rel="stylesheet" href="<{:C('IconCssLink')}>"/>
    <style>
        .mui-bar-nav{
            background-color: #EA4F23;
            -webkit-box-shadow: 0 1px 6px #EA4F23;
            box-shadow: 0 1px 6px #EA4F23;
        }
        .mui-bar-nav .mui-title{
            color: #f7f7f7;
            font-weight: bold;
        }
    </style>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-icon mui-icon-back mui-pull-left" style="color: #Ffffff;" href="<{:U('server/index')}>"></a>
    <a id="info" class="mui-icon mui-icon-gear mui-pull-right" style="color: #Ffffff;"></a>
    <h1 class="mui-title">测试地图</h1>
</header>
<div class="mui-content">

</div>
<script>
    aMap = null;
    mid = 1;
    apiready = function(){
        api.setStatusBarStyle({
            style: 'light'
        });
        aMap = api.require('aMap');

        //监听地图点击事件
        aMap.addEventListener({
            name: 'click'
        },function(ret){
            if(ret.status){
                alert(JSON.stringify(ret));
            }
        });
        openMap();
    }

    /**
     * 打开地图
     */
    function openMap(){
        aMap.open({
            rect: {
                x: 0,
                y: 46,
                w: api.frameWidth,
                h: api.frameHeight-46
            },
            showUserLocation: true,
            zoomLevel: 11,
            fixedOn: api.frameName,
            fixed: true
        }, function(ret, err){
            if( ret.status ){
                alert( JSON.stringify( ret ) );
                getLoaction();
            }else{
                alert( JSON.stringify( err ) );
            }
        });
    }

    /**
     * 获取定位
     */
    function getLoaction(){
        alert('开始定位');
        var resultCallback = function(ret, err){
            alert('获取到了位置');
            aMap.setCenter({coords:ret,animation:true});
            aMap.annotationExist({id:1},function(ret){
                if(ret.status){
                    alert('标记已存在');
                }else {
                    addMarker(1,ret);
                }
            })
        }
        aMap.getLocation({autoStop:true},resultCallback);
    }


    /**
     *添加marker
     */
    function addMarker(id,poi){
        alert('开始标记');
        aMap.addMobileAnnotations({
            annotations: [{
                id: id,
                lon: poi.lon,
                lat: poi.lat
                 }]
        },markerEvent(ret));
    }

    /**
     * marker事件
     * @param ret
     */
    function markerEvent(ret){
        alert(ret.dragState);
    }

</script>
</body>
</html>