<div id="updateCategoryModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改分类/<small><{$title}></small></h4>
            </div>
            <div class="modal-body">
                <form id="updateCatForm" action="<{:U('task/updateCat')}>" method="post">
                    <input name="id" value="0" type="hidden">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-th-list"></i>
                            </div>
                            <input type="text" name="name" class="form-control">
                            <div class="input-group-addon">
                                <select class="" name="status">
                                    <option value="1">启用</option>
                                    <option value="0">不启用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button type="button" id="updateCatFormSubBtn" class="btn btn-success">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $('#updateCatFormSubBtn').click(function(){
        var form = $('#updateCatForm');
        var name = $('input[name="names"]',form);
        if(name!=''){
            form.submit();
        }else{
            alert('请填写类别名');
            name.focus();
            return false;
        }
    })
</script>
