<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>许愿池用户登录</title>
    <meta name="keywords" content="许愿池|许愿|许愿池用户登录|SIRONT">
    <meta name="description" content="许愿池网络科技有限公司用户登录界面">
    <meta name="author" content="SIRONT">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/login_reg.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/pageDialog.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/function.js"></script>
</head>
<body>
<header>
    <a href="http://m.gome.com.cn/simple.html?r=1462516816" class="return_btn"></a>

    <span class="title">用户登录</span>
    <a href="<{:U('index/reg')}>" class="reg_btn">注册</a>
</header>
<section class="login_wrap">
    <form action="<{:U('ajax/ajaxLogin')}>" method="post" class="form_con" id="login_submit">

        <div class="user">
            <span class="icon"><img src="__PUBLIC__/mobile/user.png" alt=""></span>
            <div class="user_code">
                <input id="phone" type="text" name="phone" placeholder="手机号码" value="" subform="login_sub">
            </div>
        </div>

        <div class="pwd">
            <span class="icon"><img src="__PUBLIC__/mobile/pwd.png" alt=""></span>
            <div class="pwd_code">
                <input id="password" type="password" name="password" placeholder="密码" value="" subform="login_sub">
            </div>
        </div>

        <div class="find_pwd">
            <div class="find_btn">
                <a href="<{:U('index/findPwd')}>">找回密码</a>
            </div>
        </div>

        <div class="login_btn" id="login_sub">
            <a href="javascript:void(0)">登录</a>
        </div>
    </form>
    </div>
</section>
<script>
    var formSub = false;
    $(window).ready(function(){
        $('#phone').on('change',function(){
            checkInput();
        });
        $('#password').on('change',function(){
            checkInput();
        });

        $('#login_sub').click(function(){
            log('我被点击了');
            if(checkInput()){
                $.ajax({
                    'url':"<{:U('ajax/ajaxLogin')}>",
                    'data':{
                        phone:$('#phone').val(),
                        'password':$('#password').val()
                    },
                    'type':'POST',
                    'success':function(data){
                        if(typeof data.msg != 'undefined'){
                            $.PageDialog.success(data.msg);
                        }
                        if(data.status=='success'){
                            //window.location.href = "<{:U('index/index')}>";
                        }
                    }
                })
            }
        })
    })

    function checkInput(){
        var res = false;
        var msg = '';
        if(!isMobil($('#phone').val())){
            res = false;
            msg = '手机号格式不对'
        }else if(!checkPwd($('#password').val())){
            res = false;
            msg = '密码格式不对'
        }else{
            res = true;
        }
        if(res){
            $('#login_sub').css('background','');
        }else{
            $('#login_sub').css('background','#9b9b9b');
            $.PageDialog.fail(msg);
        }
        return res;
    }
</script>
</body>
</html>