<!DOCTYPE html>
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>注册</title>
    <link rel="stylesheet" href="__PUBLIC__/mui/mui.min.css">
    <script src="__PUBLIC__/mui/mui.min.js"></script>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <style>
        .area {
            margin: 20px auto 0px auto;
        }
        .mui-input-group:first-child {
            margin-top: 20px;
        }
        .mui-input-group label {
            width: 22%;
        }
        .mui-input-row label~input,
        .mui-input-row label~select,
        .mui-input-row label~textarea {
            width: 78%;
        }
        .mui-checkbox input[type=checkbox],
        .mui-radio input[type=radio] {
            top: 6px;
        }
        .mui-content-padded {
            margin-top: 25px;
        }
        .mui-btn {
            padding: 10px;
        }
        .index_reg_link,.index_findPwd_link{
            color:#3399ff;
            display: inline-block;
            text-decoration: none;
        }
        .index_findPwd_link{
            float: right;
        }
    </style>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a href="<{:U('index/index')}>" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">注册</h1>
</header>
<div class="mui-content">
    <form class="mui-input-group">
        <div class="mui-input-row">
            <label>账号</label>
            <input id='phone' type="text" class="mui-input-clear mui-input" placeholder="请输入手机号">
        </div>
        <div class="mui-input-row">
            <label>密码</label>
            <input id='password' type="password" class="mui-input-clear mui-input" placeholder="请输入密码">
        </div>
        <div class="mui-input-row">
            <label>确认</label>
            <input id='password_confirm' type="password" class="mui-input-clear mui-input" placeholder="请确认密码">
        </div>
        <div class="mui-input-row">
            <label>昵称</label>
            <input id='nickname' type="password" class="mui-input-clear mui-input" placeholder="给自己起个昵称">
        </div>

    </form>
    <div class="mui-content-padded">
        <button id='login_sub' class="mui-btn mui-btn-block mui-btn-primary">注册</button>
    </div>
    <div class="mui-content-padded">
        <a href="<{:U('index/login')}>" class="index_reg_link mui-h4">我有账号</a>
        <a href="<{:U('index/findPwd')}>" class="index_findPwd_link mui-h4">找回密码</a>
    </div>
</div>

</body>
<script>
    var sendSmsStatus = false;
    $(window).ready(function() {
        $('#sendSms').click(function(){
            if(sendSmsStatus){
                var no = $('#phone').val();
                if(no){
                    if(isMobil(no)){
                        $.ajax({
                            'url':"<{:U('index/sendSms')}>",
                            'type':"POST",
                            'data':{
                                'no':no
                            },
                            'success':function(data){
                                if(data=='success'){
                                    $.PageDialog.ok('发送成功');
                                    countDown(3);
                                }else{
                                    mui.toast(data);
                                }
                            }
                        })
                    }else{
                        mui.toast('手机号格式不正确');
                    }
                }else {
                    mui.toast('电话号码不能为空');
                }
            }
        })

        //检测手机号是否可以输入的
        $('#phone').on('input',function(){
            if(isMobil($('#phone').val())){
                sendSmsStatus = true;
                $('#sendSms').css('background','');
            }else{
                sendSmsStatus = false;
                console.log('input');
                $('#sendSms').css('background','gray');
            }
        })

        //ajax提交注册按钮
        $('#login_sub').click(function(){
            var no = $('#phone').val();
            if(!isMobil(no)){
                mui.toast('手机号格式不对');
                return false;
            }
           /* var telCode = $('input[name="telCode"]').val();
            if(!isTelCode(telCode)){
                mui.toast('短信验证码格式不对');
                return false;
            }*/
            var password = $('#password').val();
            if(!checkPwd(password)){
                mui.toast('密码需要6-16非空字符');
                return false;
            }
            var password2 = $('#password_confirm').val();
            if(password2!=password){
                mui.toast('两次密码不一样');
                return false;
            }

            $.ajax({
                'url':"<{:U('ajax/ajaxReg')}>",
                'type':"POST",
                'data':{
                    'no':no,
                    'nickname':$('#nickname').val(),
//                    'telCode':telCode,
                    'password':password
                },
                'success':function(data){
                    if(data['status']=='success'){
                        mui.toast(data.msg);
                        window.location.href = "<{:U('index/index')}>";
                    }else if(data['status']=='error'){
                        mui.toast(data.msg);
                    }else{
                        mui.toast('注册失败，请重试');
                    }
                }
            })
        })
    })

    /**
     * 判断是否是手机号
     * @param s
     * @returns {boolean}
     */
    function isMobil(s) {
        var patrn=/^(13[0-9]|14[5|7]|15[0-9]|17[0-9])\d{8}$/;
        if (!patrn.exec(s)) return false
        return true
    }
    /**
     * 检测密码格式
     * @param s
     * @returns {boolean}
     */
    function checkPwd(s){
        var patrn=/^([^\s]){6,16}$/;
        if (!patrn.exec(s)) return false
        return true
    }

    function countDown(i) {
        if(i){
            sendSmsStatus = false;
            $('#sendSms').css('background','gray');
            setTimeout(function() {
                countDown(i-1);
            },1000);
            $('#sendSms').html(i+'S后重试');
        }else {
            $('#sendSms').html('获取验证码');
            sendSmsStatus = true;
            $('#sendSms').css('background','');
        }
    }
</script>
</html>
