<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
<script type="text/javascript"
        src="http://webapi.amap.com/maps?v=1.3&key=071efb9a3812629caa92130bbae4a659&plugin=AMap.Autocomplete,AMap.Geocoder"></script>
<style>
    .mapBox{
        position: relative;
        height: 500px;
    }
    .mapBox #AMap{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .mapBox .AMap_tip{
        position: relative;
        margin: 20px auto;
    }
    .amap-sug-result{
        z-index: 999999;
    }
</style>
<div id="chooseMapModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设置位置</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </div>
                    <input class="inline-block form-control" type="text" id="tipinput">
                </div>
                <div class="mapBox">
                    <div id="AMap"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="autoMark"  class="btn btn-info">自动定位</button>
                <button id="clearMark" class="btn btn-default">重新标记</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button type="button" id="surePosition" class="btn btn-success">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->